html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(14, 24, 65);
  color: white
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ff8181;
  letter-spacing: 0.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
