.title {
  font-family: "Cardo";
  line-height: 1.15;

  margin-top: 12px;
  margin-bottom: 0;

  text-align: center;
}

.byLine {
  margin-top: -0.2rem;
  margin-bottom: 2.2rem;
  font-size: 2rem;

  text-align: center;
}
